language: cpp

install:
  - mkdir -p $HOME/bin
  - curl -s https://testspace-client.s3.amazonaws.com/testspace-linux-dev.tgz | tar -zxvf- -C $HOME/bin
  - testspace config url http://095d8acfaaf71b4a0f3767e41152620ebdda1b31@mark.stridespace.com

env:
  matrix:
   - JOB=ONE
   - JOB=TWO

script:
  - printenv > printenv.txt
 
after_script:
  - |
    if [[["$JOB" = "ONE" ]]; then
      testspace [$JOB]test.xml [$JOB]"+printenv.txt{environment variables}"
    else
      testspace [$JOB]test.xml
    fi